#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
      zmk,physical-layout = &foostan_corne_6col_layout;
      // zmk,physical-layout = &foostan_corne_5col_layout;
  };
};

/ {
    keymap {
        compatible = "zmk,keymap";

                default_layer {
                        label = "COLEDUST";
// -----------------------------------------------------------------------------------------
// |  Z  |  W  |  F  |  P  |  B     |     J  |  L  |  U  |  Y  |  Q  |
// |  A  |  R  |  S  |  T  |  G     |     M  |  N  |  E  |  I  |  O  |
// |  '  |  X  |  C  |  D  |  K     |     V  |  H  |  /  |  .  |  ,  |
//             | CTL |2/SPC|1/TAB   |   1/ENT| SFT | ALT |
                        bindings = <
   &kp Z      &kp W      &kp F       &kp P       &kp B   &kp J &kp L       &kp U        &kp Y       &kp Q
   &kp A      &kp R      &kp S       &kp T       &kp G   &kp M &kp N       &kp E        &kp I       &kp O
   &kp APOS   &kp X      &kp C       &kp D       &kp K   &kp V &kp H       &kp SLASH    &kp DOT     &kp COMMA
              &sk LCTRL  &lt 3 SPACE &sl 1                     &lt 2 ENTER &sk RSHFT    &sk RALT
                        >;
                };

                sym_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  &  |  %  |  #  |  !  |  \  |  *  |  ?  |  @  |  $  |  ^  |
// |  (  |  [  |  ]  |  )  |  ;  | BSPC|  :  |  }  |  {  |  _  |
// |  '  |  <  |  >  |  "  |  `  |  -  |  =  |  /  |  .  |  ,  |
//             |     |     |     |     |     |     |
                        bindings = <
   &kp AMPERSAND &kp PERCENT   &kp HASH       &kp EXCL       &kp BSLH    &kp STAR  &kp QUESTION    &kp AT_SIGN     &kp DOLLAR    &kp CARET
   &hm LALT LPAR &hm LGUI LBKT &hm LSHFT RBKT &hm LCTRL RPAR &kp SEMI    &kp BSPC  &hm RCTRL COLON &hm RSHFT RBRC  &hm RGUI LBRC &hm RALT UNDER
   &kp APOS      &kp LT        &kp GT         &kp DQT        &kp GRAVE   &kp MINUS &kp EQUAL       &trans          &trans        &trans
                 &trans        &trans         &kp TAB                              &kp ENTER       &mt RSHFT SPACE &trans
                        >;
                };

                num_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  7  |  5  |  3  |  1  |  9  |  8  |  0  |  2  |  4  |  6  |
// |  (  |  [  |  ]  |  )  |  ;  | BSPC|  :  |  }  |  {  |  _  |
// |  '  |  <  |  >  |  "  |  `  |  -  |  =  |  /  |  .  |  ,  |
//             |     |     |     |     |     |     |
                        bindings = <
   &kp N7        &kp N5        &kp N3         &kp N1         &kp N9      &kp N8    &kp N0          &kp N2          &kp N4        &kp N6
   &hm LALT LPAR &hm LGUI LBKT &hm LSHFT RBKT &hm LCTRL RPAR &kp SEMI    &kp BSPC  &hm RCTRL COLON &hm RSHFT RBRC  &hm RGUI LBRC &hm RALT UNDER
   &kp APOS      &kp LT        &kp GT         &kp DQT        &kp GRAVE   &kp MINUS &kp EQUAL       &trans          &trans        &trans
                 &trans        &lt 4 SPACE    &kp TAB                              &kp ENTER       &trans          &trans
                         >;
                };

                nav_layer {
                        label = "NAV";
// -----------------------------------------------------------------------------------------
// |  &  |  %  |  #  |  !  | PGUP|  *   | HOME | PGUP | PGDN | END  |
// | DEL | RET | TAB | ESC | PGDN| BSPC | LEFT |  UP  | DOWN | RIGHT|
// | UNDO| CUT | COPY|PASTE|CTL+K|  -   |  =   |      |      |      |
//             |     |     |     |      |      |      |
                        bindings = <
   &kp AMPERSAND &kp PERCENT  &kp HASH      &kp EXCL       &kp PG_UP  &kp STAR  &kp HOME    &kp PG_UP       &kp PG_DN &kp END
   &hm LALT DEL  &hm LGUI RET &hm LSHFT TAB &hm LCTRL ESC  &kp PG_DN  &kp BSPC  &kp LEFT    &kp UP          &kp DOWN  &kp RIGHT
   &kp LC(Z)     &kp LC(X)    &kp LC(C)     &kp LC(V)      &kp LC(K)  &kp MINUS &kp EQUAL   &trans          &trans    &trans
                 &trans       &trans        &kp TAB                             &lt 4 ENTER &mt RSHFT SPACE &trans
                        >;
                };

                utl_layer {
                        label = "UTIL";
// -----------------------------------------------------------------------------------------
// | LOCK| PREV| PLAY| NEXT | F11 |  F12 | HOME |VOL_UP|VOL_DN| MUTE |
// | F7  | F5  | F3  | F1   | F9  |  F8  |  F10 |  F2  |  F4  |  F6  |
// | BACK| DOWN| UP  | FWD  | ??? | BTCLR|  BT0 |  BT1 |  BT2 |  BT3 |
//             |     |      |     |      |      |      |
                        bindings = <
   &kp K_LOCK   &kp C_PREV        &kp C_PP        &kp C_NEXT    &kp F11         &kp F12    &kp C_AC_HOME   &kp C_VOL_UP    &kp C_VOL_DN   &kp C_MUTE
   &hm LALT F7  &hm LGUI F5       &hm LSHFT F3    &hm LCTRL F1  &kp F9          &kp F8     &hm RCTRL F10   &hm RSHFT F2    &hm RGUI F4    &hm RALT F6
   &kp K_BACK   &kp K_SCROLL_DOWN &kp K_SCROLL_UP &kp K_FORWARD &kp C_AC_SEARCH &bt BT_CLR &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2   &bt BT_SEL 3
                &trans            &trans          &kp TAB                                  &kp ENTER       &mt RSHFT SPACE &trans
                        >;
                };
                
    };
};
